s<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>


<div class='message-content'>
  <p>Novo e-mail cadastrado</p>
  <p>{{email}}</p>
  <p>É SÓ O COMEÇO!!</p>
  <strong>Equipe VQ</strong>
</div>
